# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

// ********************* Исключение файлов из файла проекта для Git *****************
# YII2 files
db.php
web.php
params.php
test_db.php
test.php
tn.png
Dump.sql
.htaccess
// *********************************************************************

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/
tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant
